

.carousel-item img {
    height: 600px;
    width: 800px;
}

.percussion-h1 {
    position: absolute;
    top: 250px;
    left: 675px;
    font-size: 6rem;
    z-index: 100;
}

/* .product-banner {
    height: 500px;
} */

.product-img {
    position: absolute;
    top: -275px;
    left: 15%;
    right: 25%;
    z-index: -1;
    overflow-y: hidden;
}

.product-container, .after-banner {
    background-color: #fff;
}

.after-banner {
    margin-top: 40em;
    height: 300px;
    padding: 30px 450px;
}
