.form-container {
    height: 500px;
    width: 500px;
    box-shadow: -1px 3px 31px 5px grey;
    border-radius: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
}